@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #1a202c;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

@media only screen and (max-width: 700px) {
  header {
    height: 150px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #new-task-form {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #new-task-form input {
    width: 50%;
    height: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    font-size: medium;
    font-family: inherit;
    background: #1a202c;
    color: white;
    border: 1px solid black;
  }
  header #new-task-form input:focus {
    outline: none;
  }
  header #new-task-form button {
    width: 15%;
    height: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: medium;
    font-family: inherit;
    background: #d53f8c;
    border: 1px solid black;
  }
  header #new-task-form button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  header #new-task-form button:active {
    opacity: 1;
    cursor: pointer;
  }
  main {
    height: calc(100vh - 150px);
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  main #todo-cont {
    background: #2d3748;
    width: 80%;
    height: 90%;
    overflow-y: auto;
  }
  main #todo-cont::-webkit-scrollbar {
    background: #4a5568;
    width: 10px;
  }
  main #todo-cont::-webkit-scrollbar-thumb {
    background: #718096;
  }
  @keyframes slide {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  main #todo-cont #todo-div {
    margin: 20px 10px 20px 10px;
    animation: slide 1s ease;
  }
  main #todo-cont #todo-div button {
    width: 20%;
    height: 30px;
    font-size: medium;
    font-family: inherit;
    color: white;
  }
  main #todo-cont #todo-div button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  main #todo-cont #todo-div button:active {
    opacity: 1;
    cursor: pointer;
  }
  main #todo-cont #todo-div #del {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid black;
    background-color: #97266d;
  }
  main #todo-cont #todo-div #edit {
    border: 1px solid black;
    background: #b83280;
  }
  main #todo-cont #todo-div #new-todo {
    width: 60%;
    height: 30px;
    text-align: center;
    font-size: medium;
    font-family: inherit;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 1px solid black;
    background: #1a202c;
    color: white;
  }
  main #todo-cont #todo-div #new-todo:focus {
    outline: none;
  }
}
@media only screen and (min-width: 701px) {
  header {
    height: 150px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #new-task-form {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  header #new-task-form input {
    width: 50%;
    height: 50%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    text-align: center;
    font-size: medium;
    font-family: inherit;
    background: #1a202c;
    color: white;
    border: 1px solid black;
  }
  header #new-task-form input:focus {
    outline: none;
  }
  header #new-task-form button {
    width: 15%;
    height: 50%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    font-size: medium;
    font-family: inherit;
    background: #d53f8c;
    border: 1px solid black;
  }
  header #new-task-form button:hover {
    opacity: 0.9;
    cursor: pointer;
  }
  header #new-task-form button:active {
    opacity: 1;
    cursor: pointer;
  }
  main {
    height: calc(100vh - 150px);
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  main #todo-cont {
    background: #2d3748;
    width: 800px;
    height: 90%;
    overflow-y: auto;
  }
  main #todo-cont::-webkit-scrollbar {
    background: #4a5568;
    width: 10px;
  }
  main #todo-cont::-webkit-scrollbar-thumb {
    background: #718096;
  }
  @keyframes slide {
    0% {
      transform: translateX(-1000px);
    }
    100% {
      transform: translateX(0);
    }
  }
  main #todo-cont #todo-div {
    margin: 20px 10px 20px 10px;
    animation: slide 1s ease;
  }
  main #todo-cont #todo-div button {
    width: 20%;
    height: 30px;
    font-size: medium;
    font-family: inherit;
    color: white;
  }
  main #todo-cont #todo-div button:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  main #todo-cont #todo-div button:active {
    opacity: 1;
    cursor: pointer;
  }
  main #todo-cont #todo-div #del {
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    border: 1px solid black;
    background-color: #97266d;
  }
  main #todo-cont #todo-div #edit {
    border: 1px solid black;
    background: #b83280;
  }
  main #todo-cont #todo-div #new-todo {
    width: 60%;
    height: 30px;
    text-align: center;
    font-size: medium;
    font-family: inherit;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border: 1px solid black;
    background: #1a202c;
    color: white;
  }
  main #todo-cont #todo-div #new-todo:focus {
    outline: none;
  }
}
